<h1 class="mt-3">Selectores anidados</h1>
<hr />
<form [formGroup]="myForm">
  <!-- Region de los paises -->
  <div class="row mb-3">
    <div class="col">
      <label for="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione continente --</option>
        <option *ngFor="let region of regions" [value]="region">
          {{ region }}
        </option>
      </select>
    </div>
  </div>
  <!-- Countries -->
  <div class="row mb-3">
    <div class="col">
      <label for="form-label">Pais:</label>
      <select class="form-control" formControlName="country">
        <option value="">-- Seleccione pais --</option>
        <!-- <option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </option> -->
      </select>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<code>
  {{ myForm.value | json }}
</code>
<p>is form valid {{ myForm.valid }}</p>
